</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <strong>
                    <a <%= link_to "Advice First Insurance", root_path %>
                                          </a>
                                          </strong>
                </li>
              <li><%= link_to "About", about_path %></li>
              <li> 
              <li><%= link_to "News", news_path %></li>
              <li> 
              <li><%= link_to "Contact", contact_path %></li>
             <li>
               <li><%= link_to "Disclosure", disclosure_path %></li>
               <li>
                <li><%= link_to "Privacy", privacy_path %></li>
         </ul>
  </div>

